@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
}

input,
button {
  font: inherit;
  display: block;
  border: none;
  background: none;
}

button {
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  color: #000;
}

.flow-content > * + * {
  margin-top: var(--space, 2rem);
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  background: #4568dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.flex-container {
  display: flex;
}
